body{
    background-color: black;
}
.warna{
    color: white;
}
.Kuning{
    background-color: yellow;
}
.ungu{
    background-color: purple;
    color: white;
}
.putih{
    background-color: white;
}
.cokelat{
    background-color: brown;
    color: white;
}
.putih{
    background-color: white;
}
.pink{
    background-color: pink;
}
.hijau{
    background-color: green;
}
.biru{
    background-color: aqua;
}
.biru_tua{
    background-color: blue;
}
.merah{
    background-color: red;
}
.abu{
    background-color: grey;
}
.orange{
    background-color: orange;
}